SPRING_PRODUCER_PORT=8000
SPRING_CONSUMER_PORT=8080
SPRING_URL_KAFKA=localhost:9092
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/
SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

TOKEN=